
/*El código CSS se lee de arriba hacia abajo, por lo tanto el color que debe quedarse en la web es el 
rojo, pero como colocamos "!important", va saber que ese es importante y va dejar ese color sin pensar
en los código que va tener por debajo*/



h1{
    color: blue !important;
}

h1{
    color: green;
}

h1{
    color: yellow;
}

p{
    color: red;
}